/* styles/17-style.css */

/* Targeting the navbar-menu class, let it float to the right */
.navbar-menu {
    float: right;
  }
  
  /* For the nav class */
  .nav {
    margin: 0; /* Set margin on all sides to 0 */
    padding: 0; /* Set padding on all sides to 0 */
    list-style: none; /* Remove list styles (bullet points) */
    text-align: center; /* Center-align the text inside the nav */
  }
  
  /* For the nav-item class in nav class */
  .nav .nav-item {
    font-family: var(--nav-item-font-family); /* Set font family from custom property */
    font-weight: var(--nav-item-font-weight); /* Set font weight from custom property */
    font-size: var(--nav-item-font-size); /* Set font size from custom property */
    letter-spacing: var(--nav-item-letter-spacing); /* Set letter spacing from custom property */
    display: var(--nav-item-display); /* Set display from custom property */
    margin: var(--nav-item-margin); /* Set margin from custom property */
  }
  
  /* For the nav-link class in nav class */
  .nav .nav-item .nav-link {
    display: block; /* Set display to block */
    padding: calc(0.5 * var(--root-element)) var(--root-element); /* Set padding using custom property */
  }
  
  /* While hovering over the nav-link class in nav class */
  .nav .nav-item .nav-link:hover {
    color: var(--nav-item-link-hover); /* Change text color on hover using custom property */
  }
  
  /* Define custom properties */
  :root {
    --nav-item-font-family: font-family-title; /* Set custom font family property */
    --nav-item-font-weight: font-weight-bold; /* Set custom font weight property */
    --nav-item-font-size: font-size-medium; /* Set custom font size property */
    --nav-item-letter-spacing: calc(4% * var(--root-element)); /* Set custom letter spacing property */
    --nav-item-display: inline-block; /* Set custom display property */
    --nav-item-margin: 0 0 calc(3 * var(--root-element)) 0; /* Set custom margin property */
    --nav-item-link-hover: color-primary; /* Set custom hover text color property */
  }
  