body {
  color: var(--text-color); /* Set the foreground color of the body to var(--text-color) */
}

a {
  color: var(--text-color); /* Set the foreground color of all anchor elements to var(--text-color) */
}

.visually-hidden {
  display: none; /* Set the display property of elements with the class visually-hidden to none */
}

.card-category {
  color: var(--color-primary); /* Set the foreground color of elements with the class card-category to var(--color-primary) */
}

.section-tagline {
  color: var(--color-primary); /* Set the foreground color of elements with the class section-tagline to var(--color-primary) */
}
/* Set custom CSS variables for various colors and text color */
:root {
  --color-primary: #d73953;         /* Define a custom primary color */
  --color-black: #090909;           /* Define a custom black color */
  --color-white: #ffffff;           /* Define a custom white color */
  --color-light-grey: #f3f3f3;      /* Define a custom light grey color */
  --color-dark-grey: #353535;       /* Define a custom dark grey color */
  --text-color: var(--color-black); /* Define the text color and initialize it with the black color */
}