a {
  color: var(--text-color); /* Set the foreground color of all anchor elements to var(--text-color) */
}

.visually-hidden {
  display: none; /* Set the display property of elements with the class visually-hidden to none */
}

.card-category {
  color: var(--color-primary); /* Set the foreground color of elements with the class card-category to var(--color-primary) */
}

.section-tagline {
  color: var(--color-primary); /* Set the foreground color of elements with the class section-tagline to var(--color-primary) */
}
:root {
  --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family-base); /* Set body's font-family to var(--font-family-base) */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title); /* Set font-family for all 6 levels of section headings to var(--font-family-title) */
}